.root {
    margin: 0;
    font-family: 'Roboto Light', Arial, sans-serif;
    color: var(--text-color-main);
}
.content {
    width: 100%;
    height: 100%;
}

.root__content {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.app-container {
    padding: 85px 30px 60px;
    box-sizing: border-box;
    height: auto;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkgrey;
    padding: 10px;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    margin: 0;
    text-align: center;
}

.slogan {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
}

.main-container {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.content-title {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
}

.content-image {
    background-image: url('https://wikipet.ru/uploads/posts/2019-02/1549868089_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    padding-bottom: 60%;
}

.content-colored-box {
    width: 60%;
    padding-bottom: 5%;
}

.color-red {
    background-color: red;
}
.color-green {
    background-color: green;
}
.color-blue {
    background-color: blue;
}

.change-color-button {
    padding: 10px 30px;
    border: 1px solid #d04b24;
    border-radius: 4px;
    background-color: darksalmon;
    color: darkred;
    cursor: pointer;
    transition: all ease-in-out .125s;
}

.change-color-button:hover {
    border: 1px solid gold;
    background-color: salmon;
    color: antiquewhite;
    box-shadow: 0 0 15px white;
}

.change-color-button:active {
    background-color: salmon;
    color: antiquewhite;
    box-shadow: none;
    border: 1px solid gold;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(3, 154, 248, 1);
    padding: 15px 10px;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    cursor: pointer;
    transition: all ease-in-out .125s;
    text-decoration: none;
    color: var(--text-color-main);
    margin: 0;
    padding: 0;
}

.link:hover {
    color: darkgrey;
}

:root {
    --text-color-main: #212121;
}
